.pagination{
    display: flex;
    gap: 10px;
}

.pagination button{
    width: 35px;
    display: flex;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dee2e6;
}

.pagination button:disabled{
    cursor: not-allowed;
}

.pagination button svg{
    width: 20px;
    height: 20px;
}

.pagination ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination ul li{
    width: 35px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.pagination ul li.active{
    color: white;
    background-color: #2563EB;
}