.exercise{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.exercise img{
    width: 100%;
}

.exercise section{
    display: flex;
    gap: 10px;
}

.exercise p{
    margin: 0;
    color: white;
    font-size: 13px;
    padding: 7px 15px 8px 15px;
    border-radius: 20px;
}

.exercise p:first-child{
    background-color: #ff0a54;
}

.exercise p:last-child{
    background-color: #ffba08;
}

.exercise h3{
    margin: 10px 0;
    color: black;
    font-weight: 500;
}