body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}